<div class="container">
  <div class="page-header" style="padding: 0; margin: 0;">
    <h1 style="margin-top: 0;">
      Feed
      <small>In case you missed something</small>
    </h1>
  </div>

  <section ng-controller="FeedCtrl">
    <div ng-repeat="entry in feedEntries | orderBy:'+'" class="animation feed-entry">
      <span class="pull-right text-muted" am-time-ago="entry.createdAt"></span>
      <i class="fa fa-{{entry.icon}} text-muted"></i>
      {{entry.title}}
      <small class="meta text-muted">
        {{entry.description}}
      </small>
    </div>
  </section>
</div>
